DATABASE_URL="postgresql://devuser:devpass@localhost:5432/ecommerce"
SHADOW_DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@localhost:5432/postgres?schema=public"

PORT=3000
JWT_SECRET=your_jwt_secret
REFRESH_TOKEN_SECRET=your_refresh_secret

ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

CLIENT_DOMAIN=http://localhost:3000
NODE_ENV=development
TRUST_PROXY=1

BREVO_API_KEY=your_brevo_api_key
FROM_EMAIL=your_verified_sender_email
EMAIL_TIMEOUT_MS=10000
APP_NAME=op-market

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_key
CLOUDINARY_API_SECRET=your_cloudinary_secret

PAYPAL_CLIENT_ID=your_paypal_sandbox_client_id
PAYPAL_CLIENT_SECRET=your_paypal_sandbox_client_secret
PAYPAL_ENV=sandbox
PAYPAL_CURRENCY=USD