DATABASE_URL="postgresql://devuser:devpass@localhost:5432/op_market_test"
SHADOW_DATABASE_URL="postgresql://devuser:devpass@localhost:5432/postgres?schema=public"

JWT_SECRET=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
REFRESH_TOKEN_SECRET=bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
CLIENT_DOMAIN=http://localhost:3000

ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
EMAIL_TIMEOUT_MS=10000
APP_NAME=op-market-test

BREVO_API_KEY=dummy
FROM_EMAIL=test@example.com

CLOUDINARY_CLOUD_NAME=dummy
CLOUDINARY_API_KEY=dummy
CLOUDINARY_API_SECRET=dummy

PAYPAL_CLIENT_ID=dummy
PAYPAL_CLIENT_SECRET=dummy
PAYPAL_ENV=sandbox
PAYPAL_CURRENCY=USD

TRUST_PROXY=1